.noticia {
  margin-bottom: 25px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}
.noticia h3 {
  margin-top: 0;
  color: #004b63;
}
.noticia small {
  display: block;
  margin-bottom: 5px;
  color: #666;
  font-size: 0.85rem;
}